{{#if news}}
<div class="row">
    {{#each news}}
    <div class="col-lg-6">
        <div class="card" onclick="window.location.href = '/news/{{this.id}}/detail/'" style="cursor: pointer;">
            {{#if this.cover}}
            <img src='http://localhost:3000{{this.cover}}' class="card-img-top"
                style="height: 200px; object-fit: cover; background: lightgray" alt=''>
            {{else}}
            <img src='https://www.fda.gov/files/CDER-whatsnew.png' class="card-img-top"
                style="height: 200px; object-fit: cover; background: lightgray" alt=''>
            {{/if}}
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text" style='height: 50px; overflow:hidden;'>{{this.description}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h1>Список новостей пуст!</h1>
{{/if}}