<table>
    {{#if edit.title}}
    <tr>
        <td>Название</td>
        <td>Было {{old.title}}</td>
        <td>Стало {{edit.title}}</td>
    </tr>
    {{/if}}
    {{#if edit.description}}
    <tr>
        <td>Описание</td>
        <td>Было {{old.description}}</td>
        <td>Стало {{edit.description}}</td>
    </tr>
    {{/if}}
    {{#if edit.author}}
    <tr>
        <td>Автор</td>
        <td>Было {{old.author}}</td>
        <td>Стало {{edit.author}}</td>
    </tr>
    {{/if}}
    {{#if edit.cover}}
    <tr>
        <td>Фоновое изобрадение</td>
        <td>Было изменено</td>
    </tr>
    {{/if}}
    <tr>
        <td>Ссылка на новость</td>
        <td>
            <a href="http://localhost:3000/news/{{old.id}}/detail">
                http://localhost:3000/news/{{old.id}}/detail
            </a>
        </td>
    </tr>
</table>

